# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnement virtuel
.venv/
venv/
env/

# Variables d'environnement
.env
.env.local
.env.*.local

# Distribution / packaging
dist/
build/
*.egg-info/

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
